<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <!-- If the local (template) variable username is set/defined, display the username and a separate logout form which will POST to /logout. Otherwise, show the login form. -->
    <% if (user === undefined) { %>
      <form class="form-center" method="POST" action="/urls/login" > 
        <div class="form-group mb-2">
          <label style="color: white" for="email">Login: </label>
          <input class="form-center" type="text" name="email" placeholder="email" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-light">Login</button>
        </div>
      </form>
      <% } else { %>
        <form class="form-center" method="POST" action="/urls/logout" > 
          <div class="form-group mb-2">
            <label style="color: white; width: 200px; margin: 1em" for="email">Logged In As: <%= user.email %>!</label>
            <button type="submit" class="btn btn-light">Logout</button>
          </div>
        </form>
      <% } %>
  </nav>
</header>